<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>PlanNPlate</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AddRecipeController</display-name>
    <servlet-name>AddRecipeController</servlet-name>
    <servlet-class>recipe.controller.AddRecipeController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddRecipeController</servlet-name>
    <url-pattern>/AddRecipeController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterController</display-name>
    <servlet-name>RegisterController</servlet-name>
    <servlet-class>recipe.controller.RegisterController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterController</servlet-name>
    <url-pattern>/RegisterController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MealController</display-name>
    <servlet-name>MealController</servlet-name>
    <servlet-class>recipe.controller.MealController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MealController</servlet-name>
    <url-pattern>/MealController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IngredientController</display-name>
    <servlet-name>IngredientController</servlet-name>
    <servlet-class>recipe.controller.IngredientController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IngredientController</servlet-name>
    <url-pattern>/IngredientController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CalculateCaloriesController</display-name>
    <servlet-name>CalculateCaloriesController</servlet-name>
    <servlet-class>project.dao.CalculateCaloriesController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CalculateCaloriesController</servlet-name>
    <url-pattern>/CalculateCaloriesController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NewAddRecipeController</display-name>
    <servlet-name>NewAddRecipeController</servlet-name>
    <servlet-class>recipe.controller.NewAddRecipeController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewAddRecipeController</servlet-name>
    <url-pattern>/NewAddRecipeController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserController</display-name>
    <servlet-name>UserController</servlet-name>
    <servlet-class>recipe.controller.UserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserController</servlet-name>
    <url-pattern>/UserController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginController</display-name>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>recipe.controller.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FavoriteController</display-name>
    <servlet-name>FavoriteController</servlet-name>
    <servlet-class>recipe.controller.FavoriteController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FavoriteController</servlet-name>
    <url-pattern>/FavoriteController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RecipeController</display-name>
    <servlet-name>RecipeController</servlet-name>
    <servlet-class>recipe.controller.RecipeController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RecipeController</servlet-name>
    <url-pattern>/RecipeController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <description></description>
    <display-name>LogoutController</display-name>
    <servlet-name>LogoutController</servlet-name>
    <servlet-class>recipe.controller.LogoutController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutController</servlet-name>
    <url-pattern>/LogoutController</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>AdminRecipeController</display-name>
    <servlet-name>AdminRecipeController</servlet-name>
    <servlet-class>recipe.controller.AdminRecipeController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminRecipeController</servlet-name>
    <url-pattern>/AdminRecipeController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminController</display-name>
    <servlet-name>AdminController</servlet-name>
    <servlet-class>recipe.controller.AdminController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminController</servlet-name>
    <url-pattern>/AdminController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminUserController</display-name>
    <servlet-name>AdminUserController</servlet-name>
    <servlet-class>recipe.controller.AdminUserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminUserController</servlet-name>
    <url-pattern>/AdminUserController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GraphController</display-name>
    <servlet-name>GraphController</servlet-name>
    <servlet-class>recipe.controller.GraphController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GraphController</servlet-name>
    <url-pattern>/GraphController</url-pattern>
  </servlet-mapping>
</web-app>